<form action="/product-added" method="post" enctype=multipart/form-data> Product Name<input type="text" name="pname"
  id="pname"><br>
  Quantity <input type="text" name="qty" id="qty"><br>
  SKU <input type="text" name="sku" id="sku"><br>
  Description <input type="text" name="descrp" id="descrp"><br>
  price <input type="text" name="price" id="price"><br>
  category <input type="text" name="category" id="category"><br>
  <input type="file" name="file" multiple>
  <button type="submit">Click me!</button>
</form>
